

body {
    background: linear-gradient(to bottom, #082742,#082742,#082742);


}
.container {
    margin-top: 50px;


}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e9ecef;
}
.table th, .table td {
    text-align: center;
    vertical-align: middle;

}
.table th{
    background: linear-gradient(90deg, #0f4c81 0%, #11548f
    100%);
}
.table td {

    background-color:white ;
}
.font_table{
    height: 770px;
    width: 90%;
background-color:  aliceblue;
position: relative;
left: 6rem;
top: 3rem;
border-radius: 50px;
}
.title_dist{
position: relative;
left: 450px;
margin-bottom: 40px;
}
.menu_lateral{
    position: relative;
    right: 10px;
top: 0px;
    z-index: 50;
}
.navegador {
    position: absolute;
    left: 0;

    width: 279px;
    top: 14px;
    height: calc(100vh - 50px);
    background: linear-gradient(to bottom, #11548f,#11548f,#082742);

    transform: translateX(-100%);
    transition: .4s ease;
    border-radius: 6px;
  }
  :root{
    --main-color:#fff;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



  .main-header{
    background: #4FB391;
    width: 100%;
    height:50px;
  }

  .navmenu{
    position: absolute;
    left:0;
    top:0;
    width: 300px;
    top:50px;
    height:calc(100vh - 50px);
    background:#adaed1;
    transform:translateX(-100%);
    transition:.4s ease;

}


  .navigation li{
    list-style:none;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }

  .navigation a{
    color:var(--main-color);
    display: block;
    line-height:3.5;
    padding: 0 10px;
    text-decoration:none;
    transition:.4s ease;
  }

  .navigation a:hover{
    transform:translateX(10%);
  }

  #btn-nav{
    display: none;
  }

  #btn-nav:checked ~ nav{
    transform:translateX(0);
  }

  .btn-nav{
    color:var(--main-color);
    font-size:30px;
    position: absolute;
    left:0;
    bottom:-19px;
    cursor:pointer;
    padding:6.5px 15px;
    transition:.2s ease;
    background:rgba(0,0,0,.1);
    height: 70px;
    width: 200px;
    background-image: url("/assets/Recursos/descarga.png");
    background-position: center;
    background-size: 210px;

}
