
  body {
    height: 100vh;
    display: flex;
    background: linear-gradient(to bottom, #082742,#082742,#082742);

    font-family:'Roboto' , 'sans-serif';
    overflow:scroll;

}
.contenido{
    position: relative;
     left: 600px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



h1, h2 {
    text-align: center;
}

.formulario {
    margin-top: 20px;
}



button[type="submit"] {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background: #0056b3;
}











